# ----- Virtual Environments -----
# Standard virtual environment
venv/

# Alternative virtual environment names
*.venv/
.env/

# ----- Compiled Python Files -----
*.pyc
__pycache__/

# ----- Build and Package Data -----
comfit.egg-info/
build/

# ----- IDE and Editor Configurations -----
# PyCharm configuration
.idea/

# VS Code configuration
.vscode/

# ----- Jupyter Notebooks -----
# Jupyter notebook checkpoints
.ipynb_checkpoints/